<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h2>User Details</h2>
    <div>
        <p><strong>Full Name:</strong> <%= userDetails.fullName %></p>
        <p><strong>Email:</strong> <%= userDetails.email %></p>
       <p>User Login SucessFully</p>
    </div>
</body>
</html>
